html, body {
  width: 100%;
  background: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.container-div{
  background: #2c3e50;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 30px;
}

.main-content{
  margin-top: 30px;
  overflow: auto;
}

.page-title{
  color: #f1c40f;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#visit-cnt {
  color: #f1c40f;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}

.main-btn {
  margin: 20px;
  outline: none;
}
.custom-btn {
  width: 100px;
  height: 40px;
  border: 2px solid #f1c40f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background: transparent;
  color: #f1c40f;
  transition: all 0.2s;
}

.paging-btn{
  width:50px;
  margin: 0;
}

.custom-btn:hover{
  background:#f1c40f;
  color:#2c3e50;
}

.font-color{
  color: #f1c40f;
}

table{
  color: #f1c40f;
}

a{
  color: #f1c40f;
  text-decoration: none;
}

input{
  border-style: solid;
  margin-left: 5px;
}
input, textarea{
  background-color: #2c3e50;
  color: #f1c40f;
  border-color: #f1c40f;
}
#title{
  margin-left: 5px;
}


#check-box{
  width: 20px;
  height: 20px;
}

.hover-cursor {
  cursor: pointer;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 2px solid #f1c40f;
  width: 70%;
  color: #f1c40f;
}

.filebox label {
  display: inline-block;
  padding: 7px 20px;
  color: #f1c40f;
  border: 2px solid #f1c40f;
  vertical-align: middle;
  background-color: #2c3e50;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}

/*loader*/
/*loader*/
/*loader*/
/*loader*/
.loader3{
  /*position: relative;*/
  width: 150px;
  height: 20px;

  top: 45%;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 25%;
  left: -webkit-calc(50% - 75px);
  left: calc(50% - 75px);
}

.loader3:after{
  content: "UPLOADING ...";
  color: #fff;
  font-family:  Lato,"Helvetica Neue" ;
  font-weight: 200;
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 1;
}

.loader3:before{
  content: "";
  position: absolute;
  background-color: #fff;
  top: -5px;
  left: 0px;
  height: 30px;
  width: 0px;
  z-index: 0;
  opacity: 1;
  -webkit-transform-origin:  100% 0%;
  transform-origin:  100% 0% ;
  -webkit-animation: loader3 10s ease-in-out infinite;
  animation: loader3 10s ease-in-out infinite;
}



@-webkit-keyframes loader3{
  0%{width: 0px;}
  70%{width: 100%; opacity: 1;}
  90%{opacity: 0; width: 100%;}
  100%{opacity: 0;width: 0px;}
}

@keyframes loader3{
  0%{width: 0px;}
  70%{width: 100%; opacity: 1;}
  90%{opacity: 0; width: 100%;}
  100%{opacity: 0;width: 0px;}
}

.links-list {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #f1c40f;
}

.thead {
  border-bottom: 1px solid white;
  font-size: medium;
  height: 30px;
}

.tbody {
  border-bottom: 1px solid white;
  font-size: medium;
  height: 35px;
  align-content: center;
}

.modify-btn {
  border:2px solid #f1c40f;
  width: 80px;
  height: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background: transparent;
  color: #f1c40f;
  transition: all 0.2s;
}

.modify-btn:hover{
  background:#f1c40f;
  color:#2c3e50;
}

.modal-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  width: 250px;
  /*height: 150px;*/
  padding: 15px;
}

#date{
  color: #f1c40f;
  display: block;
  width: 100%;
  text-align: center;
}

.ann-text {
  color:#f1c40f;
  text-decoration: none;
}


#loader-modal {
  --bs-modal-padding: 0;
  position: relative;
}